In [267]:
import pandas as pd
import numpy as np

1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module

In [268]:
a = np.array([1,2,3,4,5])
a = pd.Series(a)
a

0    1
1    2
2    3
3    4
4    5
dtype: int32

2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [301]:
list = a.tolist()
list

[2, 4, 6, 8, 10]

3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [302]:
a = pd.Series([2, 4, 6, 8, 10])
b =  pd.Series([1, 3, 5, 7, 9])

# Addition
add = pd.Series.add(a,b)
print(add,"\n")

# Subtraction
sub = pd.Series.sub(a,b)
print(sub,"\n")

# Multiplication
mul = pd.Series.mul(a,b)
print(mul,"\n")

# Division
div = pd.Series.div(a,b)
print(div,"\n")

0     3
1     7
2    11
3    15
4    19
dtype: int64

0    1
1    1
2    1
3    1
4    1
dtype: int64

0     2
1    12
2    30
3    56
4    90
dtype: int64

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

4. Write a Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [303]:
a = pd.Series([2, 4, 6, 8, 10])
b =  pd.Series([1, 3, 5, 7, 10])

comp = a.compare(b)
comp

   self  other
0   2.0    1.0
1   4.0    3.0
2   6.0    5.0
3   8.0    7.0

5. Write a Pandas program to convert a dictionary to a Pandas series.
Sample Series: 
    riginal dictionary:
        {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
        Converted series:
        a 100
        b 200
        c 300
        d 400
        e 800
        dtype: int64

In [304]:
a = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
b = pd.Series(a)
b

a    100
b    200
c    300
d    400
e    800
dtype: int64

6. Write a Pandas program to convert a NumPy array to a Pandas series.
Sample Series: 
         NumPy array:
        [10 20 30 40 50]
        Converted Pandas series:
        0 10
        1 20
        2 30
        3 40
        4 50
        dtype: int64

In [305]:
a = np.array([10,20,30,40,50])
b = pd.Series(a)
b

0    10
1    20
2    30
3    40
4    50
dtype: int32

7. Write a Pandas program to change the data type of given a column or a 
Series.
        Sample Series: 
         Original Data Series:
        0 100
        1 200
        2 python
        3 300.12
        4 400
        dtype: object
        Change the said data type to numeric:
        0 100.00
        1 200.00
        2 NaN
        3 300.12
        4 400.00
        dtype: float64

In [306]:
os = pd.Series({ 0 : 100, 1 : 200, 2 : 'python', 3 : 300.12, 4 : 400})
pd.to_numeric(os,errors='coerce')

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

8. Write a Pandas program to convert the first column of a DataFrame as a 
Series.
        Sample Output: 
        Original DataFrame
         col1 col2 col3
      0    1   4    7
      1    2   5    5
      2    3   6    8
      3    4   9    12
      4    7   5    1
      5    11  0    11
        1st column as a Series:
          0   1
          1   2
          2   3
          3   4
          4   7
          5   11
        Name: col1, dtype: int64
        <class 'pandas.core.series.Series'>

In [307]:
a = pd.DataFrame({'col1':[1,2,3,4,7,11],'col2':[2,5,6,9,5,0],'col3':[7,5,8,12,1,11]})
a = pd.Series(a['col1'])
a

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

9. Write a Pandas program to convert a given Series to an array.
        Sample Output: 
        Original Data Series:
        0 100
        1 200
        2 python
        3 300.12
        4 400
        dtype: object
        Series to an array
        ['100' '200' 'python' '300.12' '400']
        <class 'numpy.ndarray'>

In [308]:
a = pd.Series({ 0 : 100, 1 : 200, 2 : 'python', 3 : 300.12, 4 : 400})
a = pd.array(a)
a

<NumpyExtensionArray>
[100, 200, 'python', 300.12, 400]
Length: 5, dtype: object

10. Write a Pandas program to convert Series of lists to one Series.
Sample Output: 
        Original Series of list
        0 [Red, Green, White]
        1 [Red, Black]
        2 [Yellow]
        dtype: object
        One Series
        0 Red
        1 Green
        2 White
        3 Red
        4 Black
        5 Yellow
        dtype: object

In [309]:
a = pd.Series({0:['Red', 'Green', 'White'], 1:['Red', 'Black'], 2:['Yellow']})
b = a.explode()
b

0       Red
0     Green
0     White
1       Red
1     Black
2    Yellow
dtype: object

11. Write a Pandas program to sort a given Series.
Sample Output:
        Original Data Series:
        0 100
        1 200
        2 python
        3 300.12
        4 400
        dtype: object
        0 100
        1 200
        3 300.12
        4 400
        2 python
        dtype: object

In [310]:
a = pd.Series({ 3:100, 1:200, 0:'python', 1:300.12, 2:400})
a.sort_index()

0    python
1    300.12
2       400
3       100
dtype: object

12. Write a Pandas program to add some data to an existing Series.
Sample Output: 
        Original Data Series:
        0 100
        1 200
        2 python
        3 300.12
        4 400
        dtype: object
        Data Series after adding some data:
        0 100
        1 200
        2 python
        3 300.12
        4 400
        5 500
        6 php
        dtype: object

In [311]:
a = pd.Series({ 0 : 100, 1 : 200, 2 : 'python', 3 : 300.12, 4 : 400})
a[len(a)] = 500
a[len(a)] = 'php'
a

0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

13. Write a Pandas program to create a subset of a given series based on value and 
condition.
Sample Output:
        Original Data Series:
        0 0
        1 1
        2 2
        ....
        9 9
        10 10
        dtype: int64
        Subset of the above Data Series:
        0 0
        1 1
        2 2
        3 3
        4 4
        5 5
        dtype: int64

In [312]:
a = pd.Series({ 0:0, 1:1, 2:2, 3:3, 4:4, 5:5, 6:6, 7:7, 8:8, 9:9, 10:10})
a = a[a<6]
a

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

14. Write a Pandas program to change the order of index of a given series.
Sample Output:
        Original Data Series:
        A 1
        B 2
        C 3
        D 4
        E 5
        dtype: int64
        Data Series after changing the order of index:
        B 2
        A 1
        C 3
        D 4
        E 5
        dtype: int64

In [313]:
a = pd.Series({ 'A':1, 'B':2, 'C':3, 'D':4, 'E':5})
pd.Series.to_frame(a)
a.sample(5)

A    1
C    3
D    4
B    2
E    5
dtype: int64

15. Write a Pandas program to create the mean and standard deviation of the data of a given Series.
Sample Output:
        Original Data Series:
        0 1
        1 2
        2 3
        ....
        7 8
        8 9
        9 5
        10 3
        dtype: int64
        Mean of the said Data Series:
        4.818181818181818
        Standard deviation of the said Data Series:
        2.522624895547565

In [314]:
a = pd.Series({0:1,1:2,2:3,3:4,4:5,5:6,6:7,7:8,8:9,9:5,10:3})
print(a.mean())
print(a.std())

4.818181818181818
2.522624895547565

16. Write a Pandas program to get the items of a given series not present in another given series.
Sample Output: 
        Original Series:
        sr1:
        0 1
        1 2
        2 3
        3 4
        4 5
        dtype: int64
        sr2:
        0 2
        1 4
        2 6
        3 8
        4 10
        dtype: int64
        Items of sr1 not present in sr2:
        0 1
        2 3
        4 5
        dtype: int64

In [315]:
a = pd.Series({0:1, 1:2, 2:3, 3:4, 4:5})
b = pd.Series({0:2, 1:4, 2:6, 3:8, 4:10})
a = a[~a.isin(b)]
a

0    1
2    3
4    5
dtype: int64

17. Write a Pandas program to get the items which are not common of two given series.
Sample Output: 
        Original Series:
        sr1: 
        0 1 
        1 2 
        2 3 
        3 4 
        4 5
        dtype: int64
        sr2:
        0 2
        1 4 
        2 6 
        3 8
        4 10 
        dtype: int64 
        Items of a given series not present in another given series: 
        0 1 
        2 3 
        4 5 
        5 6 
        6 8
        7 10
        dtype: int64

In [316]:
a = pd.Series({0:1, 1:2, 2:3, 3:4, 4:5})
b = pd.Series({0:2, 1:4, 2:6, 3:8, 4:10})
x = a[~(a.isin(b))]
y = b[~(b.isin(a))]
pd.concat((x,y))

0     1
2     3
4     5
2     6
3     8
4    10
dtype: int64

18. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and 
maximum of a given series.
Sample Output:
        Original Series:
        0 3.000938
        1 11.370722
        2 14.612143
        ....
        17 14.118931
        18 8.247458
        19 5.526727
        dtype: float64
        Minimum, 25th percentile, median, 75th, and maximum of a given series:
        [ 3.00093811 8.09463867 10.23353705 12.21537733 14.61214321]

In [317]:
a = pd.Series(np.random.ranf(20)*30, index = np.arange(0,20))
print("Original",a)
print("====================================")
print("Minimum           ",a.min())
print("25% Percentile    ",a.quantile(0.25))
print("Median            ",a.median())
print("75% Percentile    ",a.quantile(0.75))
print("Maximum           ",a.max())

Original 0     28.399663
1      2.874901
2     18.658935
3     24.154222
4     16.120835
5     10.651841
6      0.086075
7     27.782702
8     12.779760
9      2.370566
10    27.333739
11    15.243497
12    10.222605
13    22.166384
14    13.038997
15    18.904024
16    18.036332
17    25.479405
18    28.894527
19     7.585130
dtype: float64
====================================
Minimum            0.08607512709899234
25% Percentile     10.544531707584463
Median             17.078583337272654
75% Percentile     24.4855179989842
Maximum            28.89452670897019

19. Write a Pandas program to calculate the frequency counts of each unique value of a 
given series.
Sample Output:
        Original Series:
        0 1
        1 7
        2 1
        3 6
        ...
        37 0
        38 4
        39 8
        dtype: object
        Frequency of each unique value of the said series.
        0 9
        2 7
        9 6
        ....
        3 2
        4 1
        5 1
        dtype: int64

In [318]:
data = [1, 7, 1, 6, 0, 4, 8, 0, 2, 9, 2, 3, 2, 1, 9, 3, 0, 4, 9, 5, 1, 6, 8, 2, 3, 4, 2, 1, 7, 0, 4, 8, 9, 1, 2, 3, 3, 0, 1, 9]
series = pd.Series(data)
print("Original Series:")
print(series)

frequency_counts = series.value_counts()
print("\nFrequency of each unique value of the said series:")
print(frequency_counts)

Original Series:
0     1
1     7
2     1
3     6
4     0
5     4
6     8
7     0
8     2
9     9
10    2
11    3
12    2
13    1
14    9
15    3
16    0
17    4
18    9
19    5
20    1
21    6
22    8
23    2
24    3
25    4
26    2
27    1
28    7
29    0
30    4
31    8
32    9
33    1
34    2
35    3
36    3
37    0
38    1
39    9
dtype: int64

Frequency of each unique value of the said series:
1    7
2    6
0    5
9    5
3    5
4    4
8    3
7    2
6    2
5    1
Name: count, dtype: int64

20. Write a Pandas program to display most frequent value in a given series and replace 
everything else as 'Other' in the series.
Sample Output:
        Original Series:
        0 3
        1 1
        2 1
        3 3
        ...
        12 2
        13 3
        14 3
        dtype: int64
        Top 2 Freq: 2 6
        3 5
        1 4
        dtype: int64
        0 Other
        1 Other
        2 Other
        3 Other
        ...
        11 2
        12 2
        13 Other
        14 Other
        dtype: object

In [319]:
data = [1, 7, 1, 6, 0, 4, 8, 0, 2, 9, 2, 3, 2, 1, 9, 3, 0, 4, 9, 5, 1, 6, 8, 2, 3, 4, 2, 1, 7, 0, 4, 8, 9, 1, 2, 3, 3, 0, 1, 9]
series = pd.Series(data)

most_frequent_value = series.mode()[0]

series[series != most_frequent_value] = 'Other'

print("Original Series:")
print(series)

Original Series:
0         1
1     Other
2         1
3     Other
4     Other
5     Other
6     Other
7     Other
8     Other
9     Other
10    Other
11    Other
12    Other
13        1
14    Other
15    Other
16    Other
17    Other
18    Other
19    Other
20        1
21    Other
22    Other
23    Other
24    Other
25    Other
26    Other
27        1
28    Other
29    Other
30    Other
31    Other
32    Other
33        1
34    Other
35    Other
36    Other
37    Other
38        1
39    Other
dtype: object

C:\Users\DAI.STUDENTSDC\AppData\Local\Temp\ipykernel_5000\2860927205.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Other' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  series[series != most_frequent_value] = 'Other'

21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a 
given series.
Sample Output:
        Original Series:
        0 1
        1 9
        2 8
        3 6
        4 9
        5 7
        6 1
        7 1
        8 1
        dtype: int64
        Positions of numbers that are multiples of 5:[]

In [320]:
series = pd.Series([1, 9, 8, 6, 9, 7, 1, 1, 1])
print("Original Series:")
print(series)
result = np.where(series % 5 == 0)
print("Positions of numbers that are multiples of 5:")
print(result)

Original Series:
0    1
1    9
2    8
3    6
4    9
5    7
6    1
7    1
8    1
dtype: int64
Positions of numbers that are multiples of 5:
(array([], dtype=int64),)

22. Write a Pandas program to extract items at given positions of a given series.
Sample Output: 
        Original Series:
        0 2
        1 3
        2 9
        3 0
        4 2
        5 3
        ...
        19 0
        20 2 
        21 3
        dtype: object
        Extract items at given positions of the said series: 
        0 2
        2 9
        6 8
        11 0
        21 3
        dtype: object

In [322]:
# Sample Series for Task 22
series = pd.Series([2, 3, 9, 0, 2, 3, 8, 0, 2, 3, 9, 0, 2, 3, 8, 0, 2, 3, 9, 0, 2, 3])
positions = [0, 2, 6, 11, 21]

# Extract items at given positions
extracted_items = series.take(positions)

print("Original Series:")
print(series)
print("\nExtract items at given positions of the said series:")
print(extracted_items)

Original Series:
0     2
1     3
2     9
3     0
4     2
5     3
6     8
7     0
8     2
9     3
10    9
11    0
12    2
13    3
14    8
15    0
16    2
17    3
18    9
19    0
20    2
21    3
dtype: int64

Extract items at given positions of the said series:
0     2
2     9
6     8
11    0
21    3
dtype: int64

23. Write a Pandas program to get the positions of items of a given series in another 
given series.
Sample Output: 
        Original Series:
        0 1
        1 2
        2 3
        3 4
        4 5
        5 6
        6 7
        7 8
        8 9
        9 10
        dtype: int64
        0 1
        1 3
        2 5
        3 7
        4 10
        dtype: int64
        Positions of items of series2 in series1:
        [0, 2, 4, 6, 9]

In [290]:
2

Original Series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0     1
1     3
2     5
3     7
4    10
dtype: int64

Positions of items of series23_1 in series23_2:
[0, 2, 4, 6, 9]

24. Write a Pandas program convert the first and last character of each word to upper 
case in each word of a given series.
Sample Output:
        Original Series:
        0 php
        1 python
        2 java
        3 c#
        dtype: object
        First and last character of each word to upper case:
        0 PhP
        1 PythoN
        2 JavA
        3 C#
        dtype: object

In [323]:
series = pd.Series(['php', 'python', 'java', 'c#'])

def modify_string(s):
  if len(s) > 1:
    return s[0].upper() + s[1:-1] + s[-1].upper()
  elif len(s) == 1:
    return s[0].upper()
  else:
    return s


modified_series = series.map(modify_string)

print("Original Series:")
print(series)
print("\nFirst and last character of each word to upper case:")
print(modified_series)

Original Series:
0       php
1    python
2      java
3        c#
dtype: object

First and last character of each word to upper case:
0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

25. Write a Pandas program to calculate the number of characters in each word in a given 
series.
Sample Output: 
        Original Series:
        0 Php
        1 Python
        2 Java
        3 C#
        dtype: object
        Number of characters in each word in the said series:
        0 3
        1 6
        2 4
        3 2
        dtype: int64

In [324]:
series = pd.Series(['Php', 'Python', 'Java', 'C#'])

print("Original Series:")
print(series)

# Calculate the number of characters in each word
char_counts = series.str.len()

print("\nNumber of characters in each word in the said series:")
print(char_counts)

Original Series:
0       Php
1    Python
2      Java
3        C#
dtype: object

Number of characters in each word in the said series:
0    3
1    6
2    4
3    2
dtype: int64

26. Write a Pandas program to compute difference of differences between consecutive 
numbers of a given series.
Sample Output:
        Original Series:
        0 1
        1 3
        2 5
        3 8
        4 10
        5 11
        6 15
        dtype: int64
        Difference of differences between consecutive numbers of the said series:
        [nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]
        [nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]

In [325]:
series = pd.Series([1, 3, 5, 8, 10, 11, 15])

print("Original Series:")
print(series)

differences = series.diff().fillna(0)
difference_of_differences = differences.diff().fillna(0).tolist()


print("\nDifference of differences between consecutive numbers of the said series:")
print(difference_of_differences)

Original Series:
0     1
1     3
2     5
3     8
4    10
5    11
6    15
dtype: int64

Difference of differences between consecutive numbers of the said series:
[0.0, 2.0, 0.0, 1.0, -1.0, -1.0, 3.0]

27. Write a Pandas program to convert a series of date strings to a timeseries.
Sample Output:
        Original Series:
        0 01 Jan 2015
        1 10-02-2016
        2 20180307
        3 2014/05/06
        4 2016-04-12
        5 2019-04-06T11:20
        dtype: object
        Series of date strings to a timeseries:
        0 2015-01-01 00:00:00
        1 2016-10-02 00:00:00
        2 2018-03-07 00:00:00
        3 2014-05-06 00:00:00
        4 2016-04-12 00:00:00
        5 2019-04-06 11:20:00
        dtype: datetime64[ns]

In [326]:
# Sample Series for Task 27
series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])

print("Original Series:")
print(series)

# Convert the series of date strings to a timeseries
timeseries = pd.to_datetime(series, format ='mixed')

print("\nSeries of date strings to a timeseries:")
print(timeseries)

Original Series:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

Series of date strings to a timeseries:
0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

28. Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings.
Sample Output: 
        Original Series:
        0 01 Jan 2015
        1 10-02-2016
        2 20180307
        3 2014/05/06
        4 2016-04-12
        5 2019-04-06T11:20
        dtype: object
        Day of month:
        [1, 2, 7, 6, 12, 6]
        Day of year:
        [1, 276, 66, 126, 103, 96]
        Week number:
        [1, 39, 10, 19, 15, 14]
        Day of week:
        ['Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Tuesday', 'Saturday']

In [328]:

# Sample Series for Task 28
series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])

# Convert to datetime objects
dates = pd.to_datetime(series,format='mixed')

# Extract day of month, day of year, week number, and day of week
day_of_month = dates.dt.day.tolist()
day_of_year = dates.dt.dayofyear.tolist()
week_number = dates.dt.isocalendar().week.tolist()
day_of_week = dates.dt.dayofweek.tolist()

print("Original Series:")
print(series)
print("\nDay of month:")
print(day_of_month)
print("\nDay of year:")
print(day_of_year)
print("\nWeek number:")
print(week_number)
print("\nDay of week:")
print(day_of_week)

Original Series:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

Day of month:
[1, 2, 7, 6, 12, 6]

Day of year:
[1, 276, 66, 126, 103, 96]

Week number:
[1, 39, 10, 19, 15, 14]

Day of week:
[3, 6, 2, 1, 1, 5]

29. Write a Pandas program to convert year-month string to dates adding a specified day of the month.
Sample Output:
        Original Series:
        0 Jan 2015
        1 Feb 2016
        2 Mar 2017
        3 Apr 2018
        4 May 2019
        dtype: object
        New dates:
        0 2015-01-11
        1 2016-02-11
        2 2017-03-11
        3 2018-04-11
        4 2019-05-11
        dtype: datetime64[ns]

In [329]:
series = pd.Series(['Jan 2015', 'Feb 2016', 'Mar 2017', 'Apr 2018', 'May 2019'])
print("Original Series:")
print(series)

# Convert year-month string to dates adding a specified day of the month
from dateutil.parser import parse
new_dates = series.map(lambda x: parse('11 ' + x))

print("\nNew dates:")
print(new_dates)

Original Series:
0    Jan 2015
1    Feb 2016
2    Mar 2017
3    Apr 2018
4    May 2019
dtype: object

New dates:
0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
dtype: datetime64[ns]

30. Write a Pandas program to filter words from a given series that contain atleast two vowels.
Sample Output: 
        Original Series:
        0 Red
        1 Green
        2 Orange
        3 Pink
        4 Yellow
        5 White
        dtype: object
        Filtered words:
        1 Green
        2 Orange
        4 Yellow
        5 White
        dtype: object

In [330]:
series = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])

print("Original Series:")
print(series)

def count_vowels(word):
  vowels = "aeiouAEIOU"
  count = 0
  for char in word:
    if char in vowels:
      count += 1
  return count

filtered_words = series[series.apply(lambda word: count_vowels(word) >= 2)]

print("\nFiltered words:")
print(filtered_words)

Original Series:
0       Red
1     Green
2    Orange
3      Pink
4    Yellow
5     White
dtype: object

Filtered words:
1     Green
2    Orange
4    Yellow
5     White
dtype: object

31. Write a Pandas program to compute the Euclidean distance between two given series.Euclidean distance
From Wikipedia,
In mathematics, the Euclidean distance or Euclidean metric is the "ordinary" straight-line distance between two points in Euclidean space. With this distance, Euclidean space becomes a metric space. The associated norm is called the Euclidean norm.
Sample Output:
        Original series:
        0 1
        1 2
        2 3
        3 4
        4 5
        5 6
        6 7
        7 8
        8 9
        9 10
        dtype: int64
        0 11
        1 8
        2 7
        3 5
        4 6
        5 5
        6 3
        7 4
        8 7
        9 1
        dtype: int64
        Euclidean distance between two said series:
        16.492422502470642

In [331]:
# Sample Series
x = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
y = pd.Series([11, 8, 7, 5, 6, 5, 3, 4, 7, 1])

# Compute Euclidean distance
distance = np.linalg.norm(x - y)

print("Original series:")
print(x)
print(y)
print("\nEuclidean distance between two said series:")
print(distance)

Original series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0    11
1     8
2     7
3     5
4     6
5     5
6     3
7     4
8     7
9     1
dtype: int64

Euclidean distance between two said series:
16.492422502470642

32. Write a Pandas program to find the positions of the values neighboured by smaller values on both sides in a given series.
Sample Output: 
        Original series:
        0 1
        1 8
        2 7
        3 5
        4 6
        5 5
        6 3
        7 4
        8 7
        9 1
        dtype: int64
        Positions of the values surrounded by smaller values on both sides:
        [1 4 8]

In [332]:
series = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
print("Original series:")
print(series)

# Find the positions of the values neighboured by smaller values on both sides
result = []
for i in range(1, len(series) - 1):
    if series[i] > series[i - 1] and series[i] > series[i + 1]:
        result.append(i)

print("\nPositions of the values surrounded by smaller values on both sides:")
print(result)

Original series:
0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64

Positions of the values surrounded by smaller values on both sides:
[1, 4, 8]

33. Write a Pandas program to replace missing white spaces in a given string with the least frequent character.
Sample Output:
Original series:
        abc def abcdef icd
        c 3
        d 3
         3
        b 2
        e 2
        a 2
        f 2
        i 1
        dtype: int64
        abcidefiabcdefiicd

In [343]:
series = pd.Series(['abc def abcdef icd'])
print("Original series:")
print(series)
series.replace(" ",series.idxmin())

Original series:
0    abc def abcdef icd
dtype: object

0    abc def abcdef icd
dtype: object

34. Write a Pandas program to compute the autocorrelations of a given numeric series.
From Wikipedia:
Autocorrelation, also known as serial correlation, is the correlation of a signal with a delayed copy of itself as a function of delay. Informally, it is the similarity between observations as a function of the time lag between them.
Sample Output:
        Original series:
        0 13.207262
        1 4.098685
        2 -1.435534
        3 13.626760
        ...
        13 -2.346193
        14 17.873884
        dtype: float64
        Autocorrelations of the said series:
        [-0.38, 0.1, -0.43, 0.03, 0.35, -0.2, 0.04, -0.59, 0.34, 0.11]

In [335]:
# Create a sample numeric series
series = pd.Series(np.random.randn(100))

# Compute the autocorrelations
autocorrelations = [series.autocorr(lag=i) for i in range(11)]

# Print the results
print("Original series:")
print(series.head())
print("\nAutocorrelations:")
for i, ac in enumerate(autocorrelations):
    print(f"Lag {i}: {ac}")

Original series:
0   -1.230851
1    0.790828
2    1.264328
3   -0.358123
4    0.922490
dtype: float64

Autocorrelations:
Lag 0: 1.0
Lag 1: -0.004378357491895806
Lag 2: -0.1288851682520671
Lag 3: -0.09361822102511087
Lag 4: -0.16665523268823274
Lag 5: 0.14215660514777276
Lag 6: -0.03096819268836133
Lag 7: -0.017962110038179987
Lag 8: -0.07288492650732567
Lag 9: 0.1325419578818733
Lag 10: 0.06558051588688445

35. Write a Pandas program to create a TimeSeries to display all the Sundays of given year.
Sample Output: 
        All Sundays of 2019:
        0 2020-01-05
        1 2020-01-12
        2 2020-01-19
        3 2020-01-26
        4 2020-02-02
        5 2020-02-09
        .....
        48 2020-12-06 
        49 2020-12-13
        50 2020-12-20
        51 2020-12-27
        dtype: datetime64[ns]

In [336]:

# Create a TimeSeries with all Sundays of 2020
sundays_2020 = pd.Series(pd.date_range(start='2020-01-01', end='2020-12-31', freq='W-SUN'))

print("All Sundays of 2020:")
print(sundays_2020)

All Sundays of 2020:
0    2020-01-05
1    2020-01-12
2    2020-01-19
3    2020-01-26
4    2020-02-02
5    2020-02-09
6    2020-02-16
7    2020-02-23
8    2020-03-01
9    2020-03-08
10   2020-03-15
11   2020-03-22
12   2020-03-29
13   2020-04-05
14   2020-04-12
15   2020-04-19
16   2020-04-26
17   2020-05-03
18   2020-05-10
19   2020-05-17
20   2020-05-24
21   2020-05-31
22   2020-06-07
23   2020-06-14
24   2020-06-21
25   2020-06-28
26   2020-07-05
27   2020-07-12
28   2020-07-19
29   2020-07-26
30   2020-08-02
31   2020-08-09
32   2020-08-16
33   2020-08-23
34   2020-08-30
35   2020-09-06
36   2020-09-13
37   2020-09-20
38   2020-09-27
39   2020-10-04
40   2020-10-11
41   2020-10-18
42   2020-10-25
43   2020-11-01
44   2020-11-08
45   2020-11-15
46   2020-11-22
47   2020-11-29
48   2020-12-06
49   2020-12-13
50   2020-12-20
51   2020-12-27
dtype: datetime64[ns]

36. Write a Pandas program to convert given series into a dataframe with its index as another column on the dataframe.
Sample Output:
         index   0
      0     A    0
      1     B    1
      2     C    2
      3     D    3
      4     E    4

In [337]:
series = pd.Series([0, 1, 2, 3, 4], index=['A', 'B', 'C', 'D', 'E'])

df = series.to_frame().reset_index()

print(df)

  index  0
0     A  0
1     B  1
2     C  2
3     D  3
4     E  4

37. Write a Pandas program to stack two given series vertically and horizontally.
Sample Output:
        Original Series:
        0 0
        1 1
        2 2
        ....
        7 7
        8 8
        9 9
        dtype: int64
        0 p
        1 q
        2 r
        ....
        7 w
        8 x
        9 y
        dtype: object
        Stack two given series vertically and horizontally:
         0 1
        0 0 p
        1 1 q
        2 2 r
        .....
        8 8 x
        9 9 y

In [338]:
series1 = pd.Series(range(10))
series2 = pd.Series(['p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y'])

# Stack vertically
vertical_stack = pd.concat([series1, series2], axis=0)

# Stack horizontally
horizontal_stack = pd.concat([series1, series2], axis=1)

print("Original Series:")
print(series1)
print(series2)
print("\nStack two given series vertically and horizontally:")
print(vertical_stack)
print(horizontal_stack)

Original Series:
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
0    p
1    q
2    r
3    s
4    t
5    u
6    v
7    w
8    x
9    y
dtype: object

Stack two given series vertically and horizontally:
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
0    p
1    q
2    r
3    s
4    t
5    u
6    v
7    w
8    x
9    y
dtype: object
   0  1
0  0  p
1  1  q
2  2  r
3  3  s
4  4  t
5  5  u
6  6  v
7  7  w
8  8  x
9  9  y

38. Write a Pandas program to check the equality of two given series.
Sample Output: 
        Original Series:
        0 1
        1 8
        2 7
        ...
        7 4
        8 7
        9 1
        dtype: int64
        0 1
        1 8
        2 7
        3 5
        .....
        8 7
        9 1
        dtype: int64
        Check 2 series are equal or not?
        0 True
        1 True
        2 True
        ....
        7 True
        8 True
        9 True
        dtype: bool

In [339]:
series1 = pd.Series([1, 8, 7, 3, 2, 5, 4, 6, 7, 1])
series2 = pd.Series([1, 8, 7, 5, 2, 5, 4, 6, 7, 1])

print("Original Series:")
print(series1)
print(series2)
print("\nCheck 2 series are equal or not?")
print(series1 == series2)

Original Series:
0    1
1    8
2    7
3    3
4    2
5    5
6    4
7    6
8    7
9    1
dtype: int64
0    1
1    8
2    7
3    5
4    2
5    5
6    4
7    6
8    7
9    1
dtype: int64

Check 2 series are equal or not?
0     True
1     True
2     True
3    False
4     True
5     True
6     True
7     True
8     True
9     True
dtype: bool

39. Write a Pandas program to find the index of the first occurrence of the smallest and largest value of a given series.
Sample Output:
        Original Series:
        0 1
        1 3
        2 7
        .....
        7 1
        8 9
        9 0
        dtype: int64
        Index of the first occurrence of the smallest and largest value of the said 
        series:
        9
        4

In [340]:
series = pd.Series([1, 3, 7, 12, 8, 1, 1, 7, 9, 0])
print("Original Series:")
print(series)
min_index = series.idxmin()
max_index = series.idxmax()
print("\nIndex of the first occurrence of the smallest and largest value of the said series:")
print(min_index)
print(max_index)

Original Series:
0     1
1     3
2     7
3    12
4     8
5     1
6     1
7     7
8     9
9     0
dtype: int64

Index of the first occurrence of the smallest and largest value of the said series:
9
3

40. Write a Pandas program to check inequality over the index axis of a given dataframe and a given series.
Sample Output: 
        Original DataFrame:
         W X Y Z
        0 68.0 78.0 84 86
        1 75.0 75.0 94 97
        2 86.0 NaN 89 96
        3 80.0 80.0 86 72
        4 NaN 86.0 86 83
        Original Series:
        0 68.0
        1 75.0
        2 86.0
        3 80.0
        4 NaN
        dtype: float64
        Check for inequality of the said series & dataframe:
         W X Y Z
        0 False True True True
        1 False False True True
        2 False True True True
        3 False False True True
        4 True True True True

In [341]:

df = pd.DataFrame({'W':[68.0, 75.0, 86.0, 80.0, np.nan],
                   'X':[78.0, 75.0, np.nan, 80.0, 86.0],
                   'Y':[84, 94, 89, 86, 86],
                   'Z':[86, 97, 96, 72, 83]})
s = pd.Series([68.0, 75.0, 86.0, 80.0, np.nan])

print("Original DataFrame:")
print(df)
print("\nOriginal Series:")
print(s)
print("\nCheck inequality over the index axis of a DataFrame and a Series:")
print(df.ne(s, axis = 0))

Original DataFrame:
      W     X   Y   Z
0  68.0  78.0  84  86
1  75.0  75.0  94  97
2  86.0   NaN  89  96
3  80.0  80.0  86  72
4   NaN  86.0  86  83

Original Series:
0    68.0
1    75.0
2    86.0
3    80.0
4     NaN
dtype: float64

Check inequality over the index axis of a DataFrame and a Series:
       W      X     Y     Z
0  False   True  True  True
1  False  False  True  True
2  False   True  True  True
3  False  False  True  True
4   True   True  True  True