In [2]:
import pandas as pd
import numpy as np

# Date Time Indexing

In [3]:
dates = pd.date_range(start = '2024-01-01', periods = 10 , freq = 'D')

In [4]:
data  = np.random.randn(10)

In [5]:
time_series = pd.Series(data, index = dates)
time_series

2024-01-01    0.382800
2024-01-02    1.228444
2024-01-03   -1.072055
2024-01-04    1.461194
2024-01-05    0.391327
2024-01-06    0.592093
2024-01-07   -0.490964
2024-01-08    0.131775
2024-01-09   -2.612515
2024-01-10   -0.011134
Freq: D, dtype: float64

In [6]:
print("Times Series for : '2024-01-05'\n",time_series['2024-01-05'])

Times Series for : '2024-01-05'
 0.3913268643351248

In [7]:
print("Times Series for Range : \n",time_series['2024-01-03' : '2024-01-06'])

Times Series for Range :
 2024-01-03   -1.072055
2024-01-04    1.461194
2024-01-05    0.391327
2024-01-06    0.592093
Freq: D, dtype: float64

In [8]:
print("With Boolen indexing :\n",time_series[time_series > 0])

With Boolen indexing :
 2024-01-01    0.382800
2024-01-02    1.228444
2024-01-04    1.461194
2024-01-05    0.391327
2024-01-06    0.592093
2024-01-08    0.131775
dtype: float64

In [9]:
hourly_dates = pd.date_range(start = '2024-01-01',periods = 20 , freq = 'h')

In [10]:
hourly_data = np.random.randn(24)

In [11]:
hourly_series = pd.Series(hourly_data, index = hourly_data)

In [12]:
print("Complete Hourly Series: \n",hourly_series)

Complete Hourly Series:
  0.305619    0.305619
 0.266402    0.266402
-0.619963   -0.619963
-1.012984   -1.012984
 1.335793    1.335793
-0.770734   -0.770734
 0.939334    0.939334
-1.186913   -1.186913
 0.033023    0.033023
 1.531177    1.531177
-0.078428   -0.078428
-0.946453   -0.946453
-0.540395   -0.540395
-0.108033   -0.108033
-0.548192   -0.548192
 1.039126    1.039126
 0.399015    0.399015
-0.114448   -0.114448
-0.250662   -0.250662
-0.767322   -0.767322
 0.798314    0.798314
 0.583951    0.583951
 0.526384    0.526384
 1.760773    1.760773
dtype: float64

In [13]:
print("Data With Multiple Condition: \n",time_series['2024-01-01':'2024-01-10'][time_series>0])

Data With Multiple Condition:
 2024-01-01    0.382800
2024-01-02    1.228444
2024-01-04    1.461194
2024-01-05    0.391327
2024-01-06    0.592093
2024-01-08    0.131775
dtype: float64

In [14]:
print(time_series.loc['2024-01-05'])

0.3913268643351248

In [15]:
print(time_series.loc['2024-01-03':'2024-01-06'])

2024-01-03   -1.072055
2024-01-04    1.461194
2024-01-05    0.391327
2024-01-06    0.592093
Freq: D, dtype: float64

In [16]:
print("Multiple Specific Dates: \n",time_series[['2024-01-01','2024-01-05','2024-01-05']])

Multiple Specific Dates:
 2024-01-01    0.382800
2024-01-05    0.391327
2024-01-05    0.391327
dtype: float64

In [17]:
print(time_series.iloc[0])

0.38280015261645495

In [18]:
print(time_series.iloc[2:6])

2024-01-03   -1.072055
2024-01-04    1.461194
2024-01-05    0.391327
2024-01-06    0.592093
Freq: D, dtype: float64

In [19]:
print(time_series.iloc[[0,3,7]])

2024-01-01    0.382800
2024-01-04    1.461194
2024-01-08    0.131775
dtype: float64

In [20]:
print(time_series['2024-01-03':'2024-01-06'])

2024-01-03   -1.072055
2024-01-04    1.461194
2024-01-05    0.391327
2024-01-06    0.592093
Freq: D, dtype: float64

In [21]:
print(time_series[:'2024-01-05'])

2024-01-01    0.382800
2024-01-02    1.228444
2024-01-03   -1.072055
2024-01-04    1.461194
2024-01-05    0.391327
Freq: D, dtype: float64

In [22]:
print(time_series['2024-01-06':])

2024-01-06    0.592093
2024-01-07   -0.490964
2024-01-08    0.131775
2024-01-09   -2.612515
2024-01-10   -0.011134
Freq: D, dtype: float64

# Resampling

In [23]:
weekly_data = time_series.resample('w').mean()

In [24]:
print("Resampled: \n",weekly_data)

Resampled:
 2024-01-07    0.356120
2024-01-14   -0.830625
Freq: W-SUN, dtype: float64

In [25]:
rolling_mean = time_series.rolling(window = 3).mean()

In [26]:
print("Rolling Mean: \n",rolling_mean)

Rolling Mean:
 2024-01-01         NaN
2024-01-02         NaN
2024-01-03    0.179730
2024-01-04    0.539194
2024-01-05    0.260155
2024-01-06    0.814871
2024-01-07    0.164152
2024-01-08    0.077634
2024-01-09   -0.990568
2024-01-10   -0.830625
Freq: D, dtype: float64

In [27]:
time_series['2024-01-04'] = np.nan

In [28]:
print("Adding a Null Value: \n", time_series)

Adding a Null Value:
 2024-01-01    0.382800
2024-01-02    1.228444
2024-01-03   -1.072055
2024-01-04         NaN
2024-01-05    0.391327
2024-01-06    0.592093
2024-01-07   -0.490964
2024-01-08    0.131775
2024-01-09   -2.612515
2024-01-10   -0.011134
Freq: D, dtype: float64

In [29]:
filled_series = time_series.ffill()

In [30]:
print("Handling Missing Values : \n",filled_series)

Handling Missing Values :
 2024-01-01    0.382800
2024-01-02    1.228444
2024-01-03   -1.072055
2024-01-04   -1.072055
2024-01-05    0.391327
2024-01-06    0.592093
2024-01-07   -0.490964
2024-01-08    0.131775
2024-01-09   -2.612515
2024-01-10   -0.011134
Freq: D, dtype: float64

In [31]:
weekly_series = time_series.resample('w').mean()

In [32]:
print("Weekly Resampled Series: \n",weekly_series)

Weekly Resampled Series:
 2024-01-07    0.171941
2024-01-14   -0.830625
Freq: W-SUN, dtype: float64

In [33]:
filled_backward = time_series.bfill()

In [34]:
print("Backward Filling  Series: \n",filled_backward)

Backward Filling  Series:
 2024-01-01    0.382800
2024-01-02    1.228444
2024-01-03   -1.072055
2024-01-04    0.391327
2024-01-05    0.391327
2024-01-06    0.592093
2024-01-07   -0.490964
2024-01-08    0.131775
2024-01-09   -2.612515
2024-01-10   -0.011134
Freq: D, dtype: float64

**Interpolate Missing Values : fills missing values baased on existing data points**

In [35]:
interplated = time_series.bfill()

In [36]:
print("Interpolated Series: \n",interplated)

Interpolated Series:
 2024-01-01    0.382800
2024-01-02    1.228444
2024-01-03   -1.072055
2024-01-04    0.391327
2024-01-05    0.391327
2024-01-06    0.592093
2024-01-07   -0.490964
2024-01-08    0.131775
2024-01-09   -2.612515
2024-01-10   -0.011134
Freq: D, dtype: float64

In [37]:
###############################################################################################
# Checking Missing Values

In [38]:
dates = pd.date_range(start = '2024-01-01', periods = 10 , freq = 'D')

In [39]:
data = [1,2,np.nan, 4,np.nan,6,7,np.nan,9,10]

In [40]:
time_series = pd.Series(data, index=dates)

In [41]:
print("Original Time Series: \n",time_series)

Original Time Series:
 2024-01-01     1.0
2024-01-02     2.0
2024-01-03     NaN
2024-01-04     4.0
2024-01-05     NaN
2024-01-06     6.0
2024-01-07     7.0
2024-01-08     NaN
2024-01-09     9.0
2024-01-10    10.0
Freq: D, dtype: float64

In [42]:
missing_Values = time_series.index.isna()

In [43]:
print("Missing Valuse (Boolean Series): \n",missing_Values)

Missing Valuse (Boolean Series):
 [False False False False False False False False False False]

In [44]:
num_missing = missing_Values.sum()

In [45]:
print("Number of Missing values: \n",num_missing)

Number of Missing values:
 0

In [46]:
missing_indices = time_series.index[missing_Values]

In [47]:
filled_Value = time_series.fillna(0)

In [48]:
print("Filled with Specific Value: \n",filled_Value)

Filled with Specific Value:
 2024-01-01     1.0
2024-01-02     2.0
2024-01-03     0.0
2024-01-04     4.0
2024-01-05     0.0
2024-01-06     6.0
2024-01-07     7.0
2024-01-08     0.0
2024-01-09     9.0
2024-01-10    10.0
Freq: D, dtype: float64

In [49]:
dropped = time_series.dropna()

In [50]:
print("Series with Missing Values Dropped: \n",dropped)

Series with Missing Values Dropped:
 2024-01-01     1.0
2024-01-02     2.0
2024-01-04     4.0
2024-01-06     6.0
2024-01-07     7.0
2024-01-09     9.0
2024-01-10    10.0
dtype: float64

In [51]:
print("Weekly Series: \n",weekly_series)

Weekly Series:
 2024-01-07    0.171941
2024-01-14   -0.830625
Freq: W-SUN, dtype: float64

In [52]:
#############################################################################################
# Create a Date range

In [53]:
dates = pd.date_range(start = '2024-01-01',periods=10, freq= 'D')

In [54]:
data = np.arange(10)

In [55]:
time_series = pd.Series(data,index = dates)

In [56]:
print("Original Time Series is  : \n", time_series)

Original Time Series is  :
 2024-01-01    0
2024-01-02    1
2024-01-03    2
2024-01-04    3
2024-01-05    4
2024-01-06    5
2024-01-07    6
2024-01-08    7
2024-01-09    8
2024-01-10    9
Freq: D, dtype: int32

In [57]:
shifted_forward= time_series.shift(2)

In [58]:
print("Shifted forward by 2 periods",shifted_forward)

Shifted forward by 2 periods 2024-01-01    NaN
2024-01-02    NaN
2024-01-03    0.0
2024-01-04    1.0
2024-01-05    2.0
2024-01-06    3.0
2024-01-07    4.0
2024-01-08    5.0
2024-01-09    6.0
2024-01-10    7.0
Freq: D, dtype: float64

In [60]:
shifted_backward= time_series.shift(-2)
print("Shifted backward by 2 periods",shifted_backward)

Shifted backward by 2 periods 2024-01-01    2.0
2024-01-02    3.0
2024-01-03    4.0
2024-01-04    5.0
2024-01-05    6.0
2024-01-06    7.0
2024-01-07    8.0
2024-01-08    9.0
2024-01-09    NaN
2024-01-10    NaN
Freq: D, dtype: float64