In [21]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as numpy
from io import StringIO
from pandas import DataFrame, Series

# Concepts

1- 2D table of data with column and row indexes(like spread sheeet)
2- columns are series objects
3- it has two indexs(row index and column index)
4- column index- df.columns
5- row index- df.index(might be -Integer, String, DatetimeIndex, PeriodIndex)

In [22]:
# Series Object
'''ordered, 1-D array, contains Same Data type'''
s1 = Series(range(0,5))   # 0, 1, 2, 3, 4
s2 = Series(range(1,6))   # 1, 2, 3, 4, 5
s3 = s1 + s2              # 1, 3, 5, 7, 9  (adding the element at respective index)

In [23]:
# Dataframe
df = DataFrame()            # creation of dataframe
df = pd.read_csv('iris.csv')     # load a DataFrame form the CSV file
df = pd.read_csv('iris.csv', index_col=0)  # index coulumn will be sepal_length

In [24]:
# Get data from inline CSV text to a DataFrame 
data = """, Animal, Cuteness, Desirable 
row-1, dog, 8.7, True 
row-2, cat, 9.5, True 
row-3, bat, 2.6, False"""
df = pd.read_csv(StringIO(data), header=0, index_col=0, skipinitialspace=True)

In [28]:
# Load DataFrames from a Microsoft Excel file
workbook = pd.ExcelFile('file_example_XLS_100.xls')
d = {}
for sheet_name in workbook.sheet_names:
    df = workbook.parse(sheet_name)
    d[sheet_name] = df
d

{'Sheet1':       0 First Name   Last Name  Gender        Country  Age        Date    Id
 0     1      Dulce       Abril  Female  United States   32  15/10/2017  1562
 1     2       Mara   Hashimoto  Female  Great Britain   25  16/08/2016  1582
 2     3     Philip        Gent    Male         France   36  21/05/2015  2587
 3     4   Kathleen      Hanner  Female  United States   25  15/10/2017  3549
 4     5    Nereida     Magwood  Female  United States   58  16/08/2016  2468
 ..  ...        ...         ...     ...            ...  ...         ...   ...
 95   96       Roma  Lafollette  Female  United States   34  15/10/2017  2654
 96   97     Felisa        Cail  Female  United States   28  16/08/2016  6525
 97   98   Demetria       Abbey  Female  United States   32  21/05/2015  3265
 98   99     Jeromy        Danz    Male  United States   39  15/10/2017  3265
 99  100   Rasheeda      Alkire  Female  United States   29  16/08/2016  6125

 [100 rows x 8 columns]}

In [37]:
# Data in Series then combine into a DataFrame 
s1 = Series(range(1,5))
s2 = s1 * s1
s2.index = s2.index + 2            # misalign indexes starting the index from 2
df = pd.concat([s1, s2], axis=1)   # 1st method has in integer column labels
print(df)

A  Tom       1
   Hardy     2
   Sandhu    3
B  Tom       5
   Hardy     6
   Honey     3
dtype: int64

In [44]:
s3 = Series({'Tom': 1, 'Hardy': 2, 'Sandhu': 3})
s4 = Series({'Tom': 5, 'Hardy': 6, 'Honey': 3})
df = pd.concat({'A':s3, 'B':s4})   # 2nd method does not guarantee col order
df

A  Tom       1
   Hardy     2
   Sandhu    3
B  Tom       5
   Hardy     6
   Honey     3
dtype: int64

In [43]:
df = DataFrame({ 
 'col0' : [1.0, 2.0, 3.0, 4.0], 
 'col1' : [100, 200, 300, 400] 
 }) 
df

   col0  col1
0   1.0   100
1   2.0   200
2   3.0   300
3   4.0   400

In [45]:
# --- use helper method for data in rows 
df = DataFrame.from_dict({ # data by row 
 # rows as python dictionaries 
 'row0' : {'col0':0, 'col1':'A'}, 
 'row1' : {'col0':1, 'col1':'B'} 
 }, orient='index') 
df

      col0 col1
row0     0    A
row1     1    B

In [46]:
df = DataFrame.from_dict({ # data by row 
 # rows as python lists 
 'row0' : [1, 1+1j, 'A'], 
 'row1' : [2, 2+2j, 'B'] 
 }, orient='index') 
df

      0                   1  2
row0  1  1.000000+1.000000j  A
row1  2  2.000000+2.000000j  B