In [19]:
from sqlalchemy import Column, Integer, String, Sequence, Float
from sqlalchemy.ext.declarative import declarative_base
# set up the database and base class

engine = create_engine('sqlite:///company_orm1.db')


Base = declarative_base()
# define the emp model

In [9]:


class Employee(Base):
    __tablename__ = 'employees'
    id = Column(Integer, Sequence('employee_id_seq'), primary_key=True)
    name = Column(String(50))
    age = Column(Integer)
    department = Column(String(50))
    salary = Column(Float)

In [18]:
metadata = MetaData()
metadata.reflect(bind=engine)
Base.metadata.create_all(engine)


employees = metadata.tables['employees']

# Reflect the emp table
inspector = inspect(engine)
columns = inspector.get_columns('employees')

#
print("Table employee details")

for column in columns:
    print(f"columns: {column['name']} - Type: {column['type']}")
    
    
    
Session = sessionmaker(bind=engine)
session = Session()
employees = [
    Employee(name = 'ARUN' ,age = 30 , department = 'HR',salary = 7000),
    Employee(name = 'Omkar' ,age = 25 , department = 'IT',salary = 7500),
    Employee(name = 'Daksh' ,age = 24 , department = 'Finance',salary = 78000)
]

session.add_all(employees)
session.commit()

all_employee = session.query(Employee).all()

for emp in all_employee:
    print(f"{emp.id}:{emp.name}-{emp.department},{emp.salary}")
    
employee_to_update = session.query(Employee).filter_by(name = 'ARUN').first()
session.commit()


employee_to_delete = session.query(Employee).filter_by(name= 'ARUN').first()
session.commit()

Table employee details
columns: id - Type: INTEGER
columns: name - Type: VARCHAR(50)
columns: age - Type: INTEGER
columns: department - Type: VARCHAR(50)
columns: salary - Type: FLOAT
1:ARUN-HR,7000.0
2:Omkar-IT,7500.0
3:Daksh-Finance,78000.0
4:ARUN-HR,7000.0
5:Omkar-IT,7500.0
6:Daksh-Finance,78000.0
7:ARUN-HR,7000.0
8:Omkar-IT,7500.0
9:Daksh-Finance,78000.0